/* =========================
SOBRE
========================= */
.sobre{
    padding: 80px 0;
    text-align: left;
    font-weight: 500;
}
.sobre h2{
    font-size: 38px;
    margin-bottom: 40px;
    text-shadow: 0px 3px 0px black;
    font-weight: 600;
    position: relative;
    display: inline-block;
}
.sobre h2::after{
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0px;
    width: 99px;
    height: 3px;
    background: var(--green);
}
.about-text{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.2px;
    max-width: 900px;
    color: #9fb4aa;
}